<a href="https://colab.research.google.com/github/OZambranoE/predicciones-de-ventas/blob/main/week2_proyecto_prediccion_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROYECTO SEMANA 2

In [ ]:
import pandas as pd
import numpy as np
import math
filename='/content/drive/MyDrive/Coding_dojo/sales_predictions.csv'
info_data=pd.read_csv(filename)
info_data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

1) ¿Cuántas filas y columnas?

In [ ]:
info_data.shape

(8523, 12)

2) ¿Cuáles son los tipos de datos en cada variable?

In [ ]:
info_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

3) ¿Hay duplicados? Si es el caso, eliminen algunos duplicados.

In [ ]:
info_data.duplicated().sum()

0

4) Identifiquen los valores faltantes.

In [ ]:
info_data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

In [ ]:
info_data['Item_Weight'].isna()
info_data.loc[pd.isna(info_data["Item_Weight"]), :].index
# estos datos no pueden ser inventados, ya que el peso del item es muy importante. Se deberia solicitar
# que se entregue la info necesaria

Int64Index([   7,   18,   21,   23,   29,   36,   38,   39,   49,   59,
            ...
            8458, 8463, 8469, 8472, 8480, 8485, 8487, 8488, 8490, 8504],
           dtype='int64', length=1463)

In [ ]:
# Encontrando una relacion entre el item_Weigth y el Item_identifie
missing_items=info_data['Item_Identifier'].value_counts()
print(missing_items)

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [ ]:
filter3=info_data['Item_Identifier'] == 'NCT18'
info_data[filter3].head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
703,NCT18,14.6,Low Fat,0.059394,Household,181.7976,OUT035,2004,Small,Tier 2,Supermarket Type1,3259.7568
2451,NCT18,14.6,Low Fat,0.059405,Household,179.6976,OUT046,1997,Small,Tier 1,Supermarket Type1,3621.9520
7071,NCT18,14.6,Low Fat,0.059741,Household,179.6976,OUT017,2007,NaN,Tier 2,Supermarket Type1,5070.7328
8023,NCT18,NaN,Low Fat,0.059117,Household,181.5976,OUT027,1985,Medium,Tier 3,Supermarket Type3,4165.2448

In [ ]:
# crear un dataframe de sproductos que contienen identificador y peso
dfx=info_data[['Item_Identifier','Item_Weight']]
dfx.head()
dfx.duplicated().sum()
dfx=dfx.drop_duplicates()
dfx.dropna(inplace=True)
dfx.shape # (1555, 2), es decir hay 1555 productos
dfx.head()  ### esta es la matriz donde estan los pesos asociadas a un producto
dfx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555 entries, 0 to 8471
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Item_Identifier  1555 non-null   object
 1   Item_Weight      1555 non-null   float64
dtypes: float64(1), object(1)
memory usage: 36.4+ KB

In [ ]:
dfx=dfx.reset_index()  # reseteando el indice
dfx.tail()
for i in range(len(info_data['Item_Identifier'])):
  val=info_data['Item_Identifier'][i]
  val2=info_data['Item_Weight'][i]
  if math.isnan(val2 ):
    #print('flotante',val)
    for j in range(len(dfx['Item_Identifier'])):
      valx=dfx['Item_Identifier'][j]
      valy=dfx['Item_Weight'][j]
      if (valx == val):
        info_data['Item_Weight'][i]=valy
      else:
        pass
  else:
    pass

<ipython-input-31-3e2acc0622d3>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_data['Item_Weight'][i]=valy

In [ ]:
filter3=info_data['Item_Identifier'] == 'DRE49'
info_data[filter3].head(10) 
# todos los FD13 tienen el mismo peso, porque corresponden a ese producto

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
283,DRE49,20.75,Low Fat,0.021370,Soft Drinks,153.0024,OUT017,2007,NaN,Tier 2,Supermarket Type1,2277.0360
389,DRE49,20.75,LF,0.021250,Soft Drinks,150.5024,OUT046,1997,Small,Tier 1,Supermarket Type1,2580.6408
2092,DRE49,20.75,Low Fat,0.035568,Soft Drinks,151.8024,OUT010,1998,NaN,Tier 3,Grocery Store,151.8024
2217,DRE49,20.75,Low Fat,0.000000,Soft Drinks,153.0024,OUT035,2004,Small,Tier 2,Supermarket Type1,2428.8384
2292,DRE49,20.75,Low Fat,0.021337,Soft Drinks,153.6024,OUT018,2009,Medium,Tier 3,Supermarket Type2,1366.2216
2923,DRE49,20.75,Low Fat,0.021232,Soft Drinks,151.1024,OUT013,1987,High,Tier 3,Supermarket Type1,2428.8384
4676,DRE49,20.75,Low Fat,0.000000,Soft Drinks,153.8024,OUT027,1985,Medium,Tier 3,Supermarket Type3,7741.9224
4953,DRE49,20.75,Low Fat,0.021283,Soft Drinks,153.5024,OUT049,1999,Medium,Tier 1,Supermarket Type1,2428.8384
7874,DRE49,20.75,Low Fat,0.021293,Soft Drinks,151.9024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2732.4432

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
info_data['Item_Weight'].isna()
info_data.loc[pd.isna(info_data["Item_Weight"]), :].index

Int64Index([927, 1922, 4187, 5022], dtype='int64')

In [ ]:
a=info_data['Item_Identifier'][927]
b=info_data['Item_Identifier'][1922]
c=info_data['Item_Identifier'][4187]
d=info_data['Item_Identifier'][5022]
print(a,b,c,d)

FDN52 FDK57 FDE52 FDQ60

In [ ]:
# productos que no el peso no se relaciona al identificador
filterx =((info_data['Item_Identifier']=='FDN52') | 
         (info_data['Item_Identifier']=='FDK57') |
         (info_data['Item_Identifier']=='FDE52') |
         (info_data['Item_Identifier']=='FDQ60'))
info_data[filterx]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [ ]:
# al ser 4 productos, se podria eliminarlos, sin embargo se perderoa mas informacion,
# por tanto se cambia los NAN con un peso de 1# preferible borrar 
info_data['Item_Weight'].fillna(1,inplace=True)

In [ ]:
filterx =((info_data['Item_Identifier']=='FDN52') | 
         (info_data['Item_Identifier']=='FDK57') |
         (info_data['Item_Identifier']=='FDE52') |
         (info_data['Item_Identifier']=='FDQ60'))
info_data[filterx]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,1.0,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,1.0,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,1.0,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,1.0,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [ ]:
## compracion para saber que outlet no esta asociado a ningun size
missing_outlets=info_data['Outlet_Identifier'].value_counts()
print(missing_outlets) 
info_data.groupby(['Outlet_Identifier','Outlet_Size'])['Item_Outlet_Sales'].count()
# se creara otra categoria que en outlet_size llame, por verificar

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

Outlet_Identifier  Outlet_Size
OUT013             High           932
OUT018             Medium         928
OUT019             Small          528
OUT027             Medium         935
OUT035             Small          930
OUT046             Small          930
OUT049             Medium         930
Name: Item_Outlet_Sales, dtype: int64

In [ ]:
info_data['Outlet_Size'].fillna('Other Size',inplace=True)

In [ ]:
## compracion final
missing_outlets=info_data['Outlet_Identifier'].value_counts()
print(missing_outlets) 
info_data.groupby(['Outlet_Identifier','Outlet_Size'])['Item_Outlet_Sales'].count()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

Outlet_Identifier  Outlet_Size
OUT010             Other Size     555
OUT013             High           932
OUT017             Other Size     926
OUT018             Medium         928
OUT019             Small          528
OUT027             Medium         935
OUT035             Small          930
OUT045             Other Size     929
OUT046             Small          930
OUT049             Medium         930
Name: Item_Outlet_Sales, dtype: int64

6) Confirmen que no hay valores faltantes después de abordarlos.

In [ ]:
info_data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7) Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent)

In [ ]:
info_data.groupby(['Item_Fat_Content'])['Item_Weight'].count()

Item_Fat_Content
LF          316
Low Fat    5089
Regular    2889
low fat     112
reg         117
Name: Item_Weight, dtype: int64

In [ ]:
info_data['Item_Fat_Content']=info_data['Item_Fat_Content'].replace('LF','Low Fat')
info_data['Item_Fat_Content']=info_data['Item_Fat_Content'].replace('low fat','Low Fat')
info_data['Item_Fat_Content']=info_data['Item_Fat_Content'].replace('reg','Regular')

In [ ]:
info_data.groupby(['Item_Fat_Content'])['Item_Weight'].count()

Item_Fat_Content
Low Fat    5517
Regular    3006
Name: Item_Weight, dtype: int64

8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)

In [ ]:
info_data['Item_Weight'].describe().round(2)

count    8523.00
mean       12.87
std         4.65
min         1.00
25%         8.78
50%        12.60
75%        16.85
max        21.35
Name: Item_Weight, dtype: float64